@charset "UTF-8";
/* CSS pour les élements récurrents du site */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*flottants*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Asap', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    margin-bottom: 0;
}

a {
    display: block;
}

#mainNav {
    width: 70px;
    height: 100vh;
    background-color: #66A6FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.containIconMenu {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.containIconMenu a {
    font-size: 40px;
    color: white;
}

main {
    margin-left: 80px;
}

#titlePage {
    height: 80px;
    line-height: 80px
}

.contentDay {
    display: flex;
    margin-bottom: 20px;
}

.dayAd {
    width: 20%;
}

.horraireAd {
    width: 30%;
}

.modifyAd {
    padding: 5px 10px;
    background-color: #FDD835;
    color: white;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.delete {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.modifyAd i {
    margin-right: 10px;
}

.isOpenAd {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
}

.isCloseAd {
    padding: 5px 10px;
    background-color: #00C853;
    color: white;
    border-radius: 10px;
}
#seeAllPiafs {
    height: 600px;
    overflow-y: scroll;
}

.onePiaf {
    display: flex;
    margin-bottom: 30px;
}

.pPiaf {
    width: 40%;
}